body {
    position: relative;
    margin: 0;
}
header {
    .contact-bar {
        color: white;
        font-size: 1em;
        text-align: center;
        background-color: $habilis-red;
        padding: 10px 0;
        height: 20px;
        width: 100%;
        @media screen and (min-width: 800px) {
            height: 40px;
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
    .hero-container {
        position: relative;
        background-image: url(./img/stones-bg.jpg);
        background-position: center;
        background-size: cover;
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;
        @media screen and (min-width: 665px) {
            height: 700px;
            row-gap: 40px;
        }
        &::before {
            content: "";
            background-color: black;
            opacity: 0.2;
            filter: brightness(60%);
            position: absolute;
            height: 100%;
            width: 100%;
        }
        .logo-container {
            padding: 15px 0 0 0;
            height: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #logo {
                box-shadow: none;
                margin: 0;
                height: auto;
                width: 60%;
                display: flex;
                justify-content: center;
                @media screen and (min-width: 665px) {
                    width: 30%;
                }
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .pitch {
            background-color: $habilis-dark-transparent-red;
            animation: pitch-entrance 1000ms 1000ms both;
            padding: 11px 7px;
            width: 85%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (min-width: 665px) {
                padding: 14px 10px;
                width: 60%;
            }
            .pitch-text {
                color: white;
                opacity: 1;
                font-size: 1em;
                font-weight: 100;
                text-align: center;
                z-index: +5;
                @media screen and (min-width: 665px) {
                    font-size: 1.3em;
                }
            }
        }
        .services-container {
            padding: 0 15px 20px 15px;
            height: 65%;
            width: 100%;
            .services {
                position: relative;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .services-block {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &:nth-child(1) {
                        width: 80%;
                        animation: services-entrance 1000ms 2000ms both;
                    }
                    &:nth-child(2) {
                        animation: services-entrance 1000ms 2250ms both;
                    }
                    &:nth-child(3) {
                        width: 80%;
                        animation: services-entrance 1000ms 2500ms both;
                        @media screen and (min-width: 665px) {
                            width: 60%;
                        }
                    }
                    &:nth-child(4) {
                        animation: services-entrance 1000ms 2750ms both;
                    }
                    &:nth-child(5) {
                        width: 80%;
                        animation: services-entrance 1000ms 3000ms both;
                    }
                    &:nth-child(6) {
                        animation: services-entrance 1000ms 3250ms both;
                    }
                    .service {
                        color: $habilis-bright-grey;
                        background-color: $habilis-grey;
                        border-radius: 24px;
                        font-size: 0.7em;
                        font-weight: 500;
                        text-align: center;
                        text-transform: uppercase;
                        padding: 12px 11px;
                        @media screen and (min-width: 665px) {
                            font-size: 1em;
                            padding: 17px 16px;
                            border-radius: 28px;
                        }
                    }
                }
                /*
                .service:nth-child(1) {
                    top: 5%;
                    left: 25%;
                }
                .service:nth-child(2) {
                    top: 25%;
                    left: 85%;
                }
                .service:nth-child(3) {
                    top: 85%;
                    left: 50%;
                    min-width: 230px;
                }
                .service:nth-child(4) {
                    top: 5%;
                    left: 75%;
                }
                .service:nth-child(5) {
                    top: 65%;
                    left: 18%;
                }
                .service:nth-child(6) {
                    top: 25%;
                    left: 15%;
                }
                .service:nth-child(7) {
                    top: 65%;
                    left: 85%;
                }
                */
            }
        }
    }
    .privacy-policy {
        color: white;
        background-color: $habilis-grey;
        background-image: none;
        height: 300px;
        justify-content: flex-start;
    }     
    .description {
        background-color: $habilis-bright-grey;
        text-align: center;
        padding: 15px 45px;
        @media screen and (min-width: 1200px) {
            padding: 30px 120px;
        }
        &__title {
            color: $habilis-red;
            font-size: 1.9em;
            font-weight: normal;
            @media screen and (min-width: 1200px) {
                font-size: 2.3;
            }
        }
        &__content {
            color: $habilis-grey;
            font-size: 1.3em;
            font-weight: normal;
            @media screen and (min-width: 1200px) {
                font-size: 1.1;
            }
        }
        &__address {
            color: $habilis-grey;
            font-weight: bold;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 3px;
            @media screen and (min-width: 1200px) {
                font-size: 1.1;
            }
            .fa.fa-map-marker {
                color: $habilis-grey;
                font-size: 2.2em;
                animation: location-pointer 1500ms 1000ms infinite;
            }
            .marker-base {
                border: solid $habilis-grey 3px;
                background-color: white;
                border-radius: 100px / 50px;
                width: 35px;
                height: 17px;
            }
        }
    }
}
.main-content {
    background-color: $habilis-bright-grey;
    padding: 0 0 30px 0;
    width: 100%;
}
.therapists {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 30px;
    @media screen and (min-width: 800px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .therapists__title {
        color: $habilis-red;
        font-size: 1.9em;
        font-weight: normal;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
}

.footer {
    color: white;
    background-color: $habilis-grey;
    padding: 25px;
    height: fit-content;
    &__container {
        @media screen and (min-width: 800px) {
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            column-gap: 25px;
        }
        h5 {
            font-size: 1.3em;
        }
        p {
            font-size: 1.1em;
            margin: 12px 0;
        }
        .fa-solid.fa-envelope {
            font-size: 1.3em;
            padding-right: 10px;
        }
        .fa-brands.fa-square-facebook {
            font-size: 2em;
            padding-top: 20px;
        }
        a {
            font-size: 1.2em;
            font-weight: bold;
        }
        strong {
            font-size: 1.2em;
        }
        .location {
            display: flex;
            flex-direction: column;
            .map {
                border: solid $habilis-red 2px;
                overflow: hidden;
                height: 240px;
                width: 100%;
                zoom: 100%;
                @media screen and (min-width: 800px) {
                    height: 150px;
                }
            }
        }
    }
    &__bottom {
        padding: 10px 0 10px 0;
        text-align: center;
        display: block;
    }
    a {
        text-decoration: none;
        color: white;
    }
}
