* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
}

header .contact-bar {
  color: white;
  font-size: 1em;
  text-align: center;
  background-color: #cd0756;
  padding: 10px 0;
  height: 20px;
  width: 100%;
}
@media screen and (min-width: 800px) {
  header .contact-bar {
    height: 40px;
  }
}
header .contact-bar a {
  color: white;
  text-decoration: none;
}
header .hero-container {
  position: relative;
  background-image: url(./img/stones-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}
@media screen and (min-width: 665px) {
  header .hero-container {
    height: 700px;
    row-gap: 40px;
  }
}
header .hero-container::before {
  content: "";
  background-color: black;
  opacity: 0.2;
  filter: brightness(60%);
  position: absolute;
  height: 100%;
  width: 100%;
}
header .hero-container .logo-container {
  padding: 15px 0 0 0;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .hero-container .logo-container #logo {
  box-shadow: none;
  margin: 0;
  height: auto;
  width: 60%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 665px) {
  header .hero-container .logo-container #logo {
    width: 30%;
  }
}
header .hero-container .logo-container #logo img {
  height: 100%;
  width: 100%;
}
header .hero-container .pitch {
  background-color: #61032994;
  animation: pitch-entrance 1000ms 1000ms both;
  padding: 11px 7px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 665px) {
  header .hero-container .pitch {
    padding: 14px 10px;
    width: 60%;
  }
}
header .hero-container .pitch .pitch-text {
  color: white;
  opacity: 1;
  font-size: 1em;
  font-weight: 100;
  text-align: center;
  z-index: 5;
}
@media screen and (min-width: 665px) {
  header .hero-container .pitch .pitch-text {
    font-size: 1.3em;
  }
}
header .hero-container .services-container {
  padding: 0 15px 20px 15px;
  height: 65%;
  width: 100%;
}
header .hero-container .services-container .services {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*
  .service:nth-child(1) {
      top: 5%;
      left: 25%;
  }
  .service:nth-child(2) {
      top: 25%;
      left: 85%;
  }
  .service:nth-child(3) {
      top: 85%;
      left: 50%;
      min-width: 230px;
  }
  .service:nth-child(4) {
      top: 5%;
      left: 75%;
  }
  .service:nth-child(5) {
      top: 65%;
      left: 18%;
  }
  .service:nth-child(6) {
      top: 25%;
      left: 15%;
  }
  .service:nth-child(7) {
      top: 65%;
      left: 85%;
  }
  */
}
header .hero-container .services-container .services .services-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hero-container .services-container .services .services-block:nth-child(1) {
  width: 80%;
  animation: services-entrance 1000ms 2000ms both;
}
header .hero-container .services-container .services .services-block:nth-child(2) {
  animation: services-entrance 1000ms 2250ms both;
}
header .hero-container .services-container .services .services-block:nth-child(3) {
  width: 80%;
  animation: services-entrance 1000ms 2500ms both;
}
@media screen and (min-width: 665px) {
  header .hero-container .services-container .services .services-block:nth-child(3) {
    width: 60%;
  }
}
header .hero-container .services-container .services .services-block:nth-child(4) {
  animation: services-entrance 1000ms 2750ms both;
}
header .hero-container .services-container .services .services-block:nth-child(5) {
  width: 80%;
  animation: services-entrance 1000ms 3000ms both;
}
header .hero-container .services-container .services .services-block:nth-child(6) {
  animation: services-entrance 1000ms 3250ms both;
}
header .hero-container .services-container .services .services-block .service {
  color: #eae7e7;
  background-color: #363839;
  border-radius: 24px;
  font-size: 0.7em;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 11px;
}
@media screen and (min-width: 665px) {
  header .hero-container .services-container .services .services-block .service {
    font-size: 1em;
    padding: 17px 16px;
    border-radius: 28px;
  }
}
header .privacy-policy {
  color: white;
  background-color: #363839;
  background-image: none;
  height: 300px;
  justify-content: flex-start;
}
header .description {
  background-color: #eae7e7;
  text-align: center;
  padding: 15px 45px;
}
@media screen and (min-width: 1200px) {
  header .description {
    padding: 30px 120px;
  }
}
header .description__title {
  color: #cd0756;
  font-size: 1.9em;
  font-weight: normal;
}
@media screen and (min-width: 1200px) {
  header .description__title {
    font-size: 2.3;
  }
}
header .description__content {
  color: #363839;
  font-size: 1.3em;
  font-weight: normal;
}
@media screen and (min-width: 1200px) {
  header .description__content {
    font-size: 1.1;
  }
}
header .description__address {
  color: #363839;
  font-weight: bold;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3px;
}
@media screen and (min-width: 1200px) {
  header .description__address {
    font-size: 1.1;
  }
}
header .description__address .fa.fa-map-marker {
  color: #363839;
  font-size: 2.2em;
  animation: location-pointer 1500ms 1000ms infinite;
}
header .description__address .marker-base {
  border: solid #363839 3px;
  background-color: white;
  border-radius: 100px/50px;
  width: 35px;
  height: 17px;
}

.main-content {
  background-color: #eae7e7;
  padding: 0 0 30px 0;
  width: 100%;
}

.therapists {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 30px;
}
@media screen and (min-width: 800px) {
  .therapists {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .therapists {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.therapists .therapists__title {
  color: #cd0756;
  font-size: 1.9em;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.footer {
  color: white;
  background-color: #363839;
  padding: 25px;
  height: fit-content;
}
@media screen and (min-width: 800px) {
  .footer__container {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
  }
}
.footer__container h5 {
  font-size: 1.3em;
}
.footer__container p {
  font-size: 1.1em;
  margin: 12px 0;
}
.footer__container .fa-solid.fa-envelope {
  font-size: 1.3em;
  padding-right: 10px;
}
.footer__container .fa-brands.fa-square-facebook {
  font-size: 2em;
  padding-top: 20px;
}
.footer__container a {
  font-size: 1.2em;
  font-weight: bold;
}
.footer__container strong {
  font-size: 1.2em;
}
.footer__container .location {
  display: flex;
  flex-direction: column;
}
.footer__container .location .map {
  border: solid #cd0756 2px;
  overflow: hidden;
  height: 240px;
  width: 100%;
  zoom: 100%;
}
@media screen and (min-width: 800px) {
  .footer__container .location .map {
    height: 150px;
  }
}
.footer__bottom {
  padding: 10px 0 10px 0;
  text-align: center;
  display: block;
}
.footer a {
  text-decoration: none;
  color: white;
}

.therapist {
  color: #363839;
  background-color: white;
  border: solid #eae7e7 1px;
  box-shadow: 0px 0px 15px -11px #363839;
  padding: 25px;
  overflow: hidden;
  position: relative;
  height: fit-content;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
}
.therapist::after {
  content: "";
  background-color: #cd0756;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(45deg) translate(85%);
  height: 90px;
  width: 90px;
}
@media screen and (min-width: 800px) {
  .therapist {
    width: 45%;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .therapist {
    width: 30%;
  }
}
.therapist__picture {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.therapist__picture:hover > .therapist__picture__container {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
.therapist__picture:hover > .left {
  transform: translateX(-30%);
  transition: transform 0.5s ease-in-out;
}
.therapist__picture:hover > .right {
  transform: translateX(30%);
  transition: transform 0.5s ease-in-out;
}
.therapist__picture hr {
  background-color: #cd0756;
  border: none;
  height: 3px;
  width: 60px;
  margin: 0;
}
.therapist__picture__container {
  border: solid #cd0756 3px;
  border-radius: 50%;
  overflow: hidden;
  height: 70px;
  width: 70px;
}
.therapist__picture__container img {
  height: 100%;
  width: 100%;
}
.therapist__infos {
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.therapist__infos p {
  margin: 5px 0;
  height: 26px;
}
.therapist__infos a {
  color: #cd0756;
  font-weight: bold;
  text-decoration: none;
  margin: 5px 0;
}
.therapist__infos__name {
  font-weight: bold;
  font-size: 1.3em;
  margin: 5px 0 8px 0;
}
.therapist .morebutton {
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: -11px;
  bottom: -11px;
  height: 50px;
  width: 50px;
  z-index: 6;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.therapist .morebutton .fa-solid.fa-plus {
  color: #eae7e7;
  font-size: 1.1em;
}
.therapist .morebutton--off {
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.therapist .morebutton--on {
  transform: rotate(45deg);
  transition: transform 0.5s;
}
.therapist .more {
  color: #eae7e7;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
}
.therapist .more__description {
  overflow: hidden;
  padding: 5px 15px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  /*p {
      font-size: 1em;
      text-align: center;
      margin: 0;
      height: auto;
      width: 100%;
      transform: translateY(0);
      transition: transform 2000ms ease-in-out;
      &:hover {
          transform: translateY(-70%);
      }
  }*/
}
.therapist .more__description::-webkit-scrollbar {
  width: 6px;
}
.therapist .more__description::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.therapist .more__description::-webkit-scrollbar-track {
  background-color: transparent;
}
.therapist .more .description--hovered {
  overflow: scroll;
  scroll-behavior: smooth;
}
.therapist .more__link {
  color: white;
  font-size: 0.9em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
.therapist .more__link:hover > i {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
.therapist .more__link i {
  font-size: 2em;
}
.therapist .centered {
  justify-content: center;
}
.therapist .more--off {
  opacity: 0;
  z-index: 0;
  transition: z-index 0s 0.5s, opacity 0.5s;
}
.therapist .more--on {
  opacity: 1;
  z-index: 5;
  transition: z-index 1.2s 1.2s, opacity 1.2s 1.2s;
}
.therapist .bg {
  background-color: #cd0756;
  box-shadow: inset 50px 50px 70px -20px #610329;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 300%;
  width: 200%;
}
.therapist .bg--off {
  z-index: 0;
  transform: translate(110%, 120%) rotate(-45deg);
  transition: z-index 1.5s 1.5s, transform 1.5s ease-in-out;
}
.therapist .bg--on {
  z-index: 4;
  transform: translate(0%, 0%) rotate(0deg);
  transition: z-index 0.5s, transform 3s ease-in-out;
}

.popup {
  color: white;
  background-color: #363839;
  box-shadow: 0px 0px 15px -11px #363839;
  position: fixed;
  bottom: 0;
  left: 50%;
  animation: privacy-popup-entrance 1000ms 1800ms both;
  height: auto;
  width: 100%;
  z-index: 10;
}
@media screen and (min-width: 800px) {
  .popup {
    border-radius: 10px;
    bottom: 2%;
    width: 70%;
  }
}
.popup__content {
  padding: 0 15px;
}
.popup__content__title {
  text-transform: uppercase;
}
.popup__content__title i {
  font-size: 1.2em;
  margin-left: 10px;
}
.popup__content__morelink {
  color: white;
  font-size: 0.9em;
  text-decoration: none;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}
.popup__content__morelink:hover {
  transform: translateX(2%);
}
.popup__content__morelink i {
  font-size: 1.4em;
}
.popup__closesection {
  border-top: solid #cd0756 2px;
  padding: 15px;
  height: auto;
}
.popup__closesection__closebutton {
  color: white;
  font-size: 1.2em;
  background-color: #cd0756;
  border-radius: 4px;
  border: none;
  padding: 7px 9px;
  height: auto;
}
.popup__closesection__closebutton:focus {
  background-color: #610329;
}

@keyframes pitch-entrance {
  0% {
    opacity: 0;
    transform: scaleX(0%);
    transform-origin: 50% 50%;
  }
  100% {
    opacity: 1;
    transform: scaleX(100%);
    transform-origin: 50% 50%;
  }
}
@keyframes services-entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes location-pointer {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes privacy-popup-entrance {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
}

/*# sourceMappingURL=style.css.map */
