@font-face {
  font-family: "Raleway";
  src: url("./raleway/raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  src: url("./raleway/raleway-Bold.ttf") format("truetype");
  font-weight: bold;
}
* {
  font-family: "Raleway";
  box-sizing: border-box;
}

body {
  margin: 0;
}

header .contact-bar {
  color: white;
  font-size: 1em;
  text-align: center;
  background-color: #cd0756;
  padding: 10px 0;
  height: 20px;
  width: 100%;
}
@media screen and (min-width: 800px) {
  header .contact-bar {
    height: 40px;
  }
}
header .contact-bar a {
  color: white;
  text-decoration: none;
}
header #logo {
  box-shadow: none;
  margin: 0;
  padding: 7px 0;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
header #logo img {
  height: auto;
  max-width: 60%;
}
@media screen and (min-width: 800px) {
  header #logo img {
    max-width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  header #logo img {
    max-width: 30%;
  }
}
header .hero-wrapper {
  z-index: -1;
  height: 280px;
  width: 100%;
}
header .hero-wrapper .slider {
  height: 100%;
  width: 100%;
}
header .hero-wrapper .slider img {
  height: 100%;
  width: 100%;
}
header .description {
  text-align: center;
  padding: 15px 45px;
}
@media screen and (min-width: 1200px) {
  header .description {
    padding: 30px 120px;
  }
}
header .description__title {
  color: #cd0756;
  font-size: 1.9em;
  font-weight: normal;
}
@media screen and (min-width: 1200px) {
  header .description__title {
    font-size: 2.3;
  }
}
header .description__content {
  color: #363839;
  font-size: 1em;
  font-weight: normal;
}
@media screen and (min-width: 1200px) {
  header .description__content {
    font-size: 1.1;
  }
}
header .description__address {
  color: #363839;
  font-weight: bold;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  header .description__address {
    font-size: 1.1;
  }
}
header .description__address .fa.fa-map-marker {
  color: #363839;
  font-size: 2.2em;
}
header .description__address .marker-base {
  border: solid #363839 3px;
  background-color: #eae7e7;
  border-radius: 100px/50px;
  width: 50px;
  height: 20px;
}

.therapists {
  padding: 0 0 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 30px;
}
@media screen and (min-width: 800px) {
  .therapists {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .therapists {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.therapists .therapists__title {
  color: #cd0756;
  font-size: 1.9em;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

footer {
  color: white;
  background-color: #363839;
  padding: 25px;
  height: fit-content;
}
@media screen and (min-width: 800px) {
  footer .footer__container {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
  }
}
footer .footer__container h5 {
  font-size: 1.3em;
}
footer .footer__container p {
  font-size: 1.1em;
  margin: 12px 0;
}
footer .footer__container .fa-solid.fa-envelope {
  font-size: 1.3em;
  padding-right: 10px;
}
footer .footer__container .fa-brands.fa-square-facebook {
  font-size: 2em;
  padding-top: 20px;
}
footer .footer__container a {
  font-size: 1.2em;
  font-weight: bold;
}
footer .footer__container strong {
  font-size: 1.2em;
}
footer .footer__container .location {
  display: flex;
  flex-direction: column;
}
footer .footer__container .location .map {
  border: solid #cd0756 2px;
  overflow: hidden;
  height: 240px;
  width: 100%;
  zoom: 100%;
}
@media screen and (min-width: 800px) {
  footer .footer__container .location .map {
    height: 150px;
  }
}
footer .copyright {
  padding: 20px 0 10px 0;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: white;
}

.therapist {
  color: #363839;
  border: solid #eae7e7 1px;
  box-shadow: 0px 0px 15px -11px #363839;
  padding: 25px;
  overflow: hidden;
  position: relative;
  height: fit-content;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
}
.therapist::after {
  content: "";
  background-color: #cd0756;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(45deg) translate(85%);
  height: 90px;
  width: 90px;
}
@media screen and (min-width: 800px) {
  .therapist {
    width: 45%;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .therapist {
    width: 30%;
  }
}
.therapist__picture {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.therapist__picture hr {
  background-color: #cd0756;
  border: none;
  height: 3px;
  width: 60px;
  margin: 0;
}
.therapist__picture__container {
  border: solid #cd0756 3px;
  border-radius: 50%;
  overflow: hidden;
  height: 80px;
  width: 80px;
}
.therapist__picture__container img {
  height: 100%;
  width: 100%;
}
.therapist__infos {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.therapist__infos p {
  margin: 5px 0;
}
.therapist__infos a {
  color: #cd0756;
  font-weight: bold;
  text-decoration: none;
  margin: 5px 0;
}
.therapist__infos__name {
  font-weight: bold;
  font-size: 1.3em;
  margin: 5px 0 8px 0;
}
.therapist .morebutton {
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: -11px;
  bottom: -11px;
  height: 50px;
  width: 50px;
  z-index: 1;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.therapist .morebutton .fa-solid.fa-plus {
  color: #eae7e7;
  font-size: 1.1em;
}
.therapist .morebutton--off {
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.therapist .morebutton--on {
  transform: rotate(45deg);
  transition: transform 0.5s;
}
.therapist .more {
  color: #eae7e7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.therapist .more--off {
  opacity: 0;
  transition: opacity 0.5s;
}
.therapist .more--on {
  opacity: 1;
  transition: opacity 0.5s 1.2s;
}
.therapist .bg {
  background-color: #cd0756;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 300%;
  width: 200%;
}
.therapist .bg--off {
  transform: translate(110%, 120%) rotate(-45deg);
  transition: transform 2s ease-in-out;
}
.therapist .bg--on {
  transform: translate(0%, 0%) rotate(0deg);
  transition: transform 2s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
